

<form action="/item_create" method="POST">
<label for="item_name"> Item Name :  <label><br>
<input type="text" name="item_name" value="<%= @item_name %>"><br>
<br><br>
<input type="submit" value="Submit">
<br><br>






</form>