<style>
    body {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    }
</style>

<body>
    <h1>Item Detail</h1>
    <p>#: <%= @item.id %></p>
    <p>Name: <%= @item.name %></p>
    <p>Price: <%= @item.price %></p>
    <p>Categories: <%= @categories %></p>
</body>